.about-root{
    //margin-top: 15em;
    margin-bottom: 20em;
    display: grid;
    grid-template-rows: repeat(3, 0fr);
    justify-content: center;
}

.header-title,.who {
    font-size: 5em;
}

.p1-root{
    width: 20em;
    font-family: FH Oscar;
    font-size: 1em;
    line-height: 2em;
    color: #3B3A5C;
}
.about-root{
    margin-bottom: 5em;
    &::before{
        content: '';
        height: 15em;
        width: 15em;
        background-color: transparent;
        border-radius: 100%;
        border: solid 0.1em #3b3a5c44;
        position: absolute;
        right:2em;
        z-index: -9999;

    }
}
    .about-section {
       margin-top: 5em;
       padding: 1em;
        &::before{
             content: '';
             height: 20em;
             width: 20em;
             background-color: transparent;
             border-radius: 100%;
             border: solid 0.1em #3b3a5c44;
             position: absolute;
             right: 1em;
            // bottom: 10em;
             z-index: -9999;

        }
    }


    @media screen and (min-width:700px){
        .header-title,
        .who {
            font-size: 7em;
        }
        .p1-root{
            width:40em;
        }
        .about-root{
            &::before{
                height: 30em;
                width: 30em;
            }
          grid-template-rows: repeat(3, 0.7fr);

        }
        .about-section {
            &::before{
                height: 25em;
                width: 25em;
            }
        }
        
    }
    @media screen and (min-width:1200px){
           .header-title,
           .who {
               font-size: 10em !important;
           }
         

         .p1-root {
             width: 55em;
         }
         .about-root{
             margin-bottom: 20em !important;
             &::before{
                 height: 35em;
                 width: 35em;
             }
         }
         .about-section {
             margin-top: 13em;
             &::before{
                 height: 40em;
                 width: 40em;
             }
         }
         .header-container {
             padding: 5em;
         }
    }
