
.contact-content {
    display: grid;
    grid-template-rows: repeat(2,0fr);
    margin-top: 3em;
    justify-content: center;

}

.contact-title{
    margin-bottom: 6em;
    text-align: center;
    position: relative;
    h1{
        font-size: 3em;
    }
    &::before{
        content:'' ;
        width: 10em;
        height: 10em;
        display: block;
        position: absolute;
        background-color: #3B3A5C;
        border-radius: 100%;
        z-index: -9999;
        right:5em;
        bottom: -3em;

    }
    &::after {
        content: '';
        width: 10em;
        height: 10em;
        display: block;
        position: absolute;
        background-color: #928EE2;
        border-radius: 100%;
        z-index: -9999;
        top:-2em;
        left:4em;

    }
}

.contact-form-header {
    &::after{
        content: '';
        display: block;
        height: 0.01em;
        width: 13.5em;
        background-color: #3B3A5C;
        position: absolute;
        margin-top:1em;
    }
  
}

.contact-p{
    width:20em;
}

.form-root {
    display: block;
    padding: 1em;

    p {
        color: #3B3A5C;
        line-height: 2em;
        letter-spacing: 0.01em;
    }

    p:last-child {
        margin-bottom: 1.3em;
    }

    input {

        display: block;
        border: none;
        width: 24em;
        margin-bottom: 3em;
        margin-top: 2em;
        background-color: transparent;
     
        // height: 0.3em;
        background-color: #B8B8D1;
        padding: 1em;
    }

    textarea {
        padding: 1em;
        display: block;
        
        width: 24em;
        height: 10em;
        margin-top: 1em;
        background-color: #B8B8D1;
        padding: 2em;


       
    }

    label {
        color: #3B3A5C;
        font-family: FH OScar;
        margin-bottom: 2em;
        &::after{
            content: '*';
            color: red;
        }
    }

    button {
        border: none;
        padding: 1em;
        margin-top: 2em;
        width: 10em;
        background-color: #3B3A5C;
        margin-bottom: 3em;


        span {
            letter-spacing: 0.09em;
            font-size: 1.4em;
            color: white;
            font-weight: bold;
        }
    }
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}








 @media screen and (min-width:700px){
    .contact-p{
        width: 40em !important;
    }
    input,textarea{
        width: 45em !important;
    }
  
    .contact-title{
        &::before{
            width:10em !important;
            height: 10em !important;
        }
    }


.contact-title{
    font-size: 2em !important;

}
 }
 