
//mobile first
.text{
  color:#3C38A7;
  font-size: 1em;
  position: relative;
    width:12em;
    line-height: 1.5em;
    font-family: FH Oscar;
}
.text::after{
  content: '';
  width:5px;
  height: 90%;
  border-right: 0.5em solid #3B3A5C;
  right:-0.6em;
  top:0.1em;
  position: absolute;
  display: block;
  animation: blink 0.5s infinite ease;

}





@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.home-section {
    margin-top:3em;
  

    &::before {
       content: '';
        width: 20em;
        height: 20em;
        background-color: transparent;
        position: absolute;
        border-radius: 100%;
        border: solid 0.01em #86869226;
        z-index: -999;
        top: 2em;
        right: 2em;

    }
}


.home-root{
  
display: grid;
grid-template-rows: repeat(3, 0.2fr);
justify-content:center;
grid-row-gap: 2em;
&::before{
   content: '';
    width:20em;
    height: 20em;
    background-color: transparent;
    position: absolute;
    border-radius: 100%;
    border: solid 0.01em #86869226;
    z-index: -999;
    top:0;
    right:0;
}

&::after{
    content: '';
    width:20em;
    height: 20em;
    background-color: transparent;
    position: absolute;
    border-radius: 100%;
    border: solid 0.01em #86869226;
    z-index: -999;
    top:-1em;
    right:10em;
}




p:nth-child(3){
    display:block;
    width:25em;
    font-size: 0.9em;
    color: #3B3A5C;
    line-height: 1.5em;
  
}
    
h2{
  font-size:3em;
  display:block;
  width:8em;
    }
}

.cta:visited{
    color: white;
}







.link-root{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: whitesmoke;

    .cta{
        background-color: #3B3A5C;
        height: 6em;
        width:6em;
        border-radius: 100%;
        span{
             font-family: FH Oscar;
             position: relative;
            top:-4.5em;
            color: white;
        }
       
        &::before{
            content: '';
            height: 6em;
            display: block;
            width: 6em;
            background-color: #6D6C8F;
            border-radius: 100%;
            z-index: -99999;
            position: relative;
            left:1em;
            bottom:-0.2em;
        }
    }
}
.view{
     background-color: transparent;
     height: 6em;
     width:6em;
     border-radius: 100%;
     position: relative;
     border: solid 0.1em #6D6C8F;
      text-align: center;

     span{
         position: relative;
         color:#3B3A5C;
         font-family: FH Oscar;
         top:2em;
     }

   
}

.view:hover{
    transition: all 0.7s ease;
    background-color: #3B3A5C;
    span{
        color: white;
    }
}

@media screen and (max-width:500px){
    .home-root{
          h2 {
                  font-size: 3em;
                  display: block;
                  width: 6em;
          }

              p:nth-child(3) {
                  width: 20em;
                 font-size: 0.9em;
            }
    }
}


@media screen and (min-width:500px){
   

    .link-root {
        .cta {
            width: 10em;
            height: 10em;

            &::before {
                width: 10em;
                height: 10em;
            }

            span {
                top: -6em
            }
        }

        .view {
            height: 10em;
            width: 10em;

            span {
                top: 4em;
            }
        }
    }

}


@media screen and (min-width:700px){
     .home-root {
         h2 {
             font-size: 5em;
             display: block;
             width: 8em;
         }

         p:nth-child(3) {

             width: 30em;
             font-size: 1.2em;
             line-height: 1.5em;

         }

         .text {

             font-size: 1.2em;
             width: 12em;
             line-height: 1.5em;

         }

     }


}


/* @media screen and (min-width:1024px){
    .home-section{
       

        &::before{
             right: -2em;
        }
    }
}
 */
    



@media screen and (min-width:1200px){
    .home-root{
        h2{
            font-size: 6em;
        }
        &::after{
            width:35em;
            height: 35em;
        }
        &::before{
            width: 35em;
            height: 35em;
        }
    }
    .home-section{
        &::before{
            width: 35em;
            height: 35em;
        }
    }
    .link-root{
        justify-content: space-evenly;
        .cta{
            height:12em ;
            width: 12em;
            &::before{
                height: 12em;
                width: 12em;
            }
            span{
                font-size: 1.2em;

            }
        }
        .view{
            height: 12em;
            width: 12em;
            span{
                font-size: 1.2em;
            }
        }
    }
}
@media screen and(min-width:1300px){
    .home-root{
        h2{
            font-size: 7em;
        }
        p:nth-child(3) {
            width: 40em;
        }
    }
}
